[Unit]
Description=Check whether vdesk GUI and VNC are still in use

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=30s

[Install]
WantedBy=timers.target
